* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #007ff8;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 0 1rem;
}

li a {
    text-decoration: none;
    color: white;
}

section {
    padding: 1rem 0;
}

footer {
    background-color: #2e2e2e;
    text-align: center;
    color: white;
    font-size: .8rem;
}

footer a {
    color: #9396e3;
}

p {
    line-height: 1.5rem;
}

.card p {
    color: #506575;
}

h2,
h3 {
    line-height: 4rem;
}

.card-big h3 {
    color: #007ff8;
}

.card-big p {
    color: #506575;
}

.bars a {
    color: white;
}

.nav-link {
    display: flex;
    align-items: center;
}

.nav-button {
    background-color: white;
    border-radius: 20px;
    padding: .5rem;
}

.nav-container {
    width: 375px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: #aadafd;
    border-radius: 20px;
    text-align: center;
    padding: 2rem 1rem;
}

.card-big {
    background-color: #aadafd;
    border-radius: 20px;
    text-align: center;
    padding: 2rem 1rem;
}

.card h3 {
    color: #007ff8;
}

.card-logo {
    color: #007ff8;
    font-size: 5rem;
}

.card-button {
    background-color: #007ff8;
    border-radius: 20px;
    color: white;
    display: inline-block;
    padding: .8rem 3rem;
    margin: 2rem 0;
}

.card-button i {
    padding-right: .5rem;
}

.section-container {
    width: 375px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.img-phone {
    width: 100%;
    object-fit: contain;
}

.img-planning2 {
    width: 100%;
    object-fit: contain;
}

.img-testimonial,
.img-about {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    padding: 1rem;
}

.column {
    background-color: white;
    color: black;
    font-style: italic;
    border-radius: 50px;
    text-align: center;
    padding: 2rem 1rem;
    margin: 2rem 0;
    align-items: center;
}

.button-circle {
    background-color: #9396e3;
    color: black;
    display: inline-block;
    border-radius: 50%;
    padding: .8rem 1rem;
    margin-top: 2rem;
}

.background-lilac {
    background-color: #9396e3;
}

.section-lilac {
    background-color: #9396e3;
    padding: 1rem 0;
    color: white;
    margin: 0 auto;
}

.section-testimonial {
    text-align: center;
}

.section-testimonial h2 {
    color: #9396e3;
    line-height: 2rem;
}

.section-testimonial .section-container {
    text-align: center;
}

.section-benefits {
    background-color: #9396e3;
}

.section-benefits h2 {
    color: white;
    text-align: center;
}

.section-benefits h1 {
    color: #9396e3;
    font-size: 4rem;
}

.section-benefits h3 {
    color: #9396e3;
}

.section-benefits .card-button {
    background-color: #9396e3;
}

.section-benefits .card {
    background-color: white;
    text-align: left;
    padding: 2rem;
}

.section-about h1,
.section-about h2,
.section-about i {
    color: #9396e3;
}

.section-about h1 {
    font-size: 2rem;
    line-height: 3rem;
}

.section-about p,
.section-about h2 {
    line-height: 2.5rem;
}

.button {
    background-color: #9396e3;
    border-radius: 20px;
    color: white;
    display: inline-block;
    padding: .8rem 3rem;
    margin: 2rem 0;
}

.button i {
    color: white;
    padding-right: .5rem;
}

.img-quote {
    position: relative;
}

.img-quote i {
    position: absolute;
    font-size: 4rem;
    left: 150px;
}

.section-get-started {
    background-color: #9396e3;
    text-align: center;
    color: white;
}

.section-get-started .button {
    display: inline-block;
    background-color: white;
    color: #9396e3;
}

.section-get-started h1 {
    color: #ffb95e;
    font-size: 3rem;
}

.section-get-started .section-container {
    padding: 2rem;
}

.section-get-started p {
    line-height: 2rem;
}

@media screen and (min-width: 375px) {
    .nav-link {
        display: none;
    }

    .card-big .section-container {
        width: 100%;
    }

    .column .section-container {
        width: 100%;
    }
}

@media screen and (min-width: 810px) {
    .nav-container {
        width: 810px;
        padding-right: 2rem;
    }
    
    .section-testimonial {
        width: 810px;
        margin: 0 auto;
    }

    .section-about {
        width: 810px;
        margin: 0 auto;
    }

    .section-container {
        width: 810px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section-lilac .section-container {
        width: 50%;
    }

    .img-planning1 {
        width: 360px;
        object-fit: contain;
    }

    .card-big .section-container {
        width: 100%;
        justify-content: center;
    }

    .card-big {
        width: 500px;
    }

    .card {
        width: 240px;
    }

    .section-lilac {
        width: 800px;
        display: flex;
    }

    .section-about {
        display: flex;
    }

    .section-get-started .section-container {
        display: inline-block;
        padding: 0 4rem;
    }

    footer .section-container {
        width: 400px;
    }
}

@media screen and (width: 1920px) {
    .nav-link {
        display: flex;
    }

    .nav-container {
        width: 920px;
    }

    .bars {
        display: none;
    }

    .card-big {
        display: flex;
        height: 420px;
    }

    .section-testimonial {
        width: 810px;
        margin: 0 auto;
    }

    .section-about {
        width: 810px;
        margin: 0 auto;
    }

    .section-lilac {
        width: 920px;
        margin: 0 auto;
    }

    .section-lilac .section-container {
        width: 50%;
    }

    .img-planning1 {
        width: 100%;
        object-fit: contain;
    }

}