* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #007ff8;
}

section {
    padding: 1rem 0;
}

p {
    line-height: 1.5rem;
}

.card p {
    color: #506575;
}

h2,
h3 {
    line-height: 4rem;
}

.bars a {
    color: white;
}

.nav-container {
    width: 375px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: #aadafd;
    border-radius: 20px;
    text-align: center;
    padding: 2rem 1rem;
}

.card h3 {
    color: #007ff8;
}

.card-logo {
    color: #007ff8;
    font-size: 5rem;
}

.card-button {
    background-color: #007ff8;
    border-radius: 20px;
    color: white;
    display: inline-block;
    padding: .8rem 3rem;
    margin: 2rem 0;
}

.card-button i {
    padding-right: .5rem;
}

.section-container {
    width: 375px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.img-phone {
    width: 100%;
    object-fit: contain;
}

.img-planning2 {
    width: 100%;
    object-fit: contain;
}

.img-testimonial {
    width: 200px;
    height: 200px; 
    object-fit: cover;
    border-radius: 50%;
    padding: 1rem;
}

.column {
    background-color: white;
    color: black;
    font-style: italic;
    border-radius: 50px;
    text-align: center;
    padding: 2rem 1rem;
    margin: 2rem 0;
}

.button-circle {
    background-color: #9396e3;
    color: black;
    display: inline-block;
    border-radius: 50%;
    padding: .8rem 1rem;
    margin-top: 2rem;
}

.section-lilac {
    background-color: #9396e3;
    padding: 1rem 0;
    color: white;
}

.section-testimonial h2 {
    color: #9396e3;
    line-height: 2rem;
}

.section-testimonial .section-container {
    text-align: center;
}